<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" />
</head>
<style>
.itm-n { font-style: italic; color: gray; }
</style>
<body>
	<div class="container">

		<!-- table data here-->
		<div class="row justify-content-center">

			<form class="form-inline needs-validation" th:action="@{/screener}"
				th:object="${screenerParams}">

				<div class="form-group col-xs-4 col-sm-4">
					<Label for="minProbability"
						class="col-sm-2 col-form-label col-form-label-sm"
						style="font-size: x-small">Min. Probability</Label> <input type="text"
						th:field="*{minProbability}" class="form-control form-control-sm"
						id="minProbability" required />
					<div class="form-group invalid-symbol">Min.Probability</div>
				</div>

				<div class="form-group col-xs-4 col-sm-4">
					<Label for="maxProbability"
						class="col-sm-2 col-form-label col-form-label-sm"
						style="font-size: x-small">Max. Probability</Label> <input type="text"
						th:field="*{maxProbability}" class="form-control form-control-sm"
						id="maxProbability" required />
					<div class="form-group invalid-symbol">Max.Probability</div>
				</div>

				<div class="form-group col-xs-4 col-sm-4">
					<Label for="minDays"
						class="col-sm-2 col-form-label col-form-label-sm"
						style="font-size: x-small">Min. Days</Label> <input type="text"
						th:field="*{minDays}" class="form-control form-control-sm"
						id="minDays" required />
					<div class="form-group invalid-symbol">Min.Days</div>
				</div>

				<div class="form-group col-xs-4 col-sm-4">
					<Label for="maxDays"
						class="col-sm-2 col-form-label col-form-label-sm"
						style="font-size: x-small">Max. Days</Label> <input type="text"
						th:field="*{maxDays}" class="form-control form-control-sm"
						id="maxDays" required />
					<div class="form-group invalid-symbol">Max.Days</div>
				</div>

				<div class="form-group col-xs-4 col-sm-4">
					<Label for="symbols"
						class="col-sm-2 col-form-label col-form-label-sm"
						style="font-size: x-small">Symbols</Label> <input type="text"
						th:field="*{symbols}" class="form-control form-control-sm"
						id="symbols" required />
					<div class="form-group invalid-symbol">List of Symbols</div>
				</div>

				<div class="form-group">
					<button type="submit"
						class="btn btn-secondary btn-sm form-control mx-sm-3">Search</button>
				</div>

			</form>

			<table class="table table-sm table-bordered calls">
				<thead>
					<tr>
						<th>Root</th>
						<th>Expiration</th>
						<th>Strike</th>
						<th>Type</th>
						<th>Bid</th>
						<th>Ask</th>
						<th>Mid</th>
						<th class="text-nowrap">B-A</th>
						<th>BidIV</th>
						<th>AskIV</th>
						<th>IV-Spread</th>
						<th>&Delta;</th>
						<th class="text-nowrap">P</th>
						<th>Vol</th>
						<th>OI</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="option : ${optionList}">
						<td th:text="${option.symbol}">XYZ</td>
						<td th:text="${option.expiration}">2020-01-01</td>
						<td th:classappend="${'itm-'+option.inTheMoney}" th:text="${option.strikePrice}">99.99</td>
						<td th:text="${option.optionType}">CALL</td>
						<td class="price text-right" th:text="${option.bid}">2.34</td>
						<td class="price text-right" th:text="${option.ask}">1.23</td>
						<td class="price text-right" th:text="${#numbers.formatCurrency((option.bid+option.ask)/2)}">1.23</td>
						<td class="price text-right" th:text="${#numbers.formatCurrency(option.ask-option.bid)}">1.23</td>
						<td th:text="${#numbers.formatPercent(option.bidIV,1,1)}">20%</td>
						<td th:text="${#numbers.formatPercent(option.askIV,1,1)}">20%</td>
						<td th:text="${#numbers.formatPercent(option.askIV - option.bidIV,1,3)}">20%</td>
						<td th:text="${#numbers.formatDecimal(option.delta, 1, 2)}">0.50</td>
						<td th:text="${#numbers.formatDecimal(option.probability, 1, 2)}">0.50</td>
						<td class="text-right" th:text="${option.volume}"></td>
						<td class="price text-right" th:text="${option.openInterest}">000
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('table.table').DataTable({
				 "paging": false
			});
		});
	</script>
	<div th:include="common/footer"></div>
</body>
</html>
